# Build outputs
server/zell-server
server/zell-server.exe
server/data/

# Rust
app/src-tauri/target/

# Dependencies
node_modules/

# Docs
docs/superpowers

# reference
references/

# others
image_interact.html
Thinkings.md
opencode.jsonc
